:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196F3;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  color: var(--primary-text-color);
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*  цвет основного текстаbackground: #212121;  */
/* вторичный текст цвета background: #757575; */
/* белый #E5E5E5 */
/* акцент background: #2196F3; */
/* фон команды background: #F5F4FA; */
/* ФОН СЕКЦИИ 1 background: #2F303A; */

.logo {
  color: var(--accent-text-color)
}

.container-nav {
  display: flex;
  align-items: center;
  height: 80px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-nav {
  display: flex;
}

.header-logo {
  color: var(--title-text-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-item {}

.header-link {
  color: var(--title-text-color);
  font-style: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}

.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color)
}

.contacts-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.hero {
  background-color: #2F303A;
  height: 600px;
  padding-top: 200px;

}

.hero-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-family: 'Roboto';
  cursor: pointer;
  color: #FFFFFF;
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.advanteges {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advanteges-item {
  width: 270px;
}

.advanteges-list {
  display: flex;
  gap: 30px;
}

.advanteges-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advanteges-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title-main,
.working-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.team-soc{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-link{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

}
.team-soc-link:hover,
.team-soc-link:focus{
background-color: var(--accent-text-color);
}
.team-soc-link:hover .team-soc-icon ,
 .team-soc-link:focus .team-soc-icon {
  fill: #FFFFFF;
  
}
.team-soc-icon{
  fill: #AFB1B8;
}

.working {
  padding-bottom: 94px;
}

.working-list {
  display: flex;
  justify-content: space-between;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: #FFFFFF;
  text-align: center;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  justify-content: center;
  display: flex;
  gap: 8px;
}

.portfolio-btn {
  cursor: pointer;
  color: var(--title-text-color);
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #FFFFFF;
  background-color: var(--accent-text-color);
}

.projects {
  margin-top: 50px;
}

.portfolio-projeсts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-projects-item {
  width: 370px;
}

.portfolio-projects-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #EEEEEE;
}


.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.potfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer-adress {
  margin-top: 20px;
}

.footer-item {
  margin-top: 9px;
}

.footer-map,
.footer-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-color);
}

.footer-map:hover,
.footer-map:focus {
  color: var(--accent-text-color);
}